.container {
  position: fixed;
  bottom: 0;

  display: grid;
  grid-template-columns: repeat(var(--buttons, 1), 1fr);
  grid-template-rows: 1fr;
  gap: 0 0;

  height: 65px;
  width: 100%;
  border-bottom: 1px solid var(--color-soft-border);
  background-color: var(--color-soft-background);
}

.smallContainer {
  grid-template-columns: calc(100% - 100px) 100px;
}

.stickyContainer {
  position: sticky;
}

.small {
  width: 100px;
}

.color-success {
  color: var(--color-success);
  background-color: var(--color-success-background);
}

.color-warning {
  color: var(--color-warning);
  background-color: var(--color-warning-background);
}

.color-error {
  color: var(--color-error);
  background-color: var(--color-error-background);
}
