.container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr;
  gap: 0 0;
}

.helpButton {
  width: 50px;
  font-size: 35px;
  font-weight: bold;

  justify-self: end;

  color: var(--color-success);
  background-color: var(--color-success-background);
}
