.container {
  display: grid;
  grid-template-columns: repeat(var(--players), 1fr);
  grid-template-rows: 1fr;
  gap: 0 0;

  height: 65px;
  border-bottom: 1px solid var(--color-soft-border);
  background-color: var(--color-soft-background);
}

.player {
  text-align: center;
  border-right: 1px solid var(--color-soft-border);
  padding: 15px;

  &:last-child {
    border-right: none;
  }
}

.noPlayer {
  line-height: 65px;
  padding: 0;
  text-align: center;
}
