// Light mode color scheme
@mixin lightMode() {
  --color-link: #2563EB;
  --color-text: #0F172A;
  --color-background: #FFFFFF;

  --color-soft-background: #F8FAFC;
  --color-soft-border: #E2E8F0;

  --color-success: #047857;
  --color-success-background: #D1FAE5;

  --color-error: #B91C1C;
  --color-error-background: #FEE2E2;

  --color-warning: #B45309;
  --color-warning-background: #FEF3C7;
}

// Dark mode color scheme
@mixin darkMode() {
  --color-link: #58a6ff;
  --color-text: #F8FAFC;
  --color-background: #06090f;

  --color-soft-background: #0d1117;
  --color-soft-border: #30363d;

  --color-success: #064E3B;
  --color-success-background: #6EE7B7;

  --color-error: #7F1D1D;
  --color-error-background: #FCA5A5;

  --color-warning: #78350F;
  --color-warning-background: #FCD34D;
}
